@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Inter:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image:
        linear-gradient(120deg, rgba(0,0,0,0.78), rgba(0,0,0,0.78)),
        url("/src/assets/img (3).jpg");
    background-size: 100% auto;
    background-position: top center;
    background-attachment: fixed;
    color: white;
    font-family: 'Inter', sans-serif;
}




.nav-categories {
  display: flex;
  gap: 12px;
  padding: 16px;
  overflow-x: auto;
}

.nav-categories button {
  padding: 8px 14px;
  background: #ff7b00;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.nav-categories button:hover {
  background: #ff4d00;
}

.card-grid {
  display: grid;
  gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.04);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.card-price {
  color: #ff4d00;
  font-weight: bold;
  font-size: 20px;
  margin-top: 6px;
}

.btn-add {
  width: 100%;
  background: #ff4d00;
  border: none;
  padding: 10px;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-add:hover {
  background: #c63a00;
}

